.main-menu-wrapper {
  height: 80px;
  background-color: aliceblue;
}

.menu-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
}
.menu-item {
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
