.book-list-title {
  text-align: center;
  margin-top: 20px;
}
.book-hero {
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.book-wrap {
  padding: 20px;
}

.book {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.wrap {
  display: flex;
  margin-top: 10px;
  width: 500px;
  align-items: center;
  justify-content: space-between;
}

.book {
  cursor: pointer;
}

.all-wrap {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 3px;
  background-color: #434343;
  border-radius: 10px;
  color: white;
}

.form-wrap {
  width: 500px;
  margin: 0 auto;
}

.input-wrap {
  display: flex;
  flex-direction: column;
}
.form-input {
  width: 90%;
  height: 40px;
  background-color: #d9d9d9;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.add-btn {
  width: 90%;
  background-color: orange;
  height: 40px;
  margin-top: 5px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

label {
  font-weight: 600;
}

.clickable-name {
  color: orange;
  font-weight: bold;
  cursor: pointer;
}
